@model TrevithickP3.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Generalmessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Generalmessage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Webapp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Webapp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Windowsapp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Windowsapp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phoneapp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phoneapp)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.ContactID">Edit</a>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
